.speciality .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.speciality .box-container .box{
    height:20rem;
    flex:1 1 43rem;
    margin:1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.speciality .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.speciality .box-container .box .info{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

.speciality .box-container .box .info h3{
    font-size: 3rem;
    color:#fff;
}

.speciality .box-container .box .info p{
    font-size: 2rem;
    color:#eee;
}

.speciality .icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.speciality .icons-container .icons{
    margin:2rem;
    width: 29rem;
    text-align: center;
}

.speciality .icons-container .icons i{
    font-size: 4rem;
    color:var(--red);
}

.speciality .icons-container .icons h3{
    font-size: 2rem;
    color:#333;
    padding:1rem 0;
}

.speciality .icons-container .icons p{
    font-size: 1.5rem;
    color:#666;
}
